body {
    margin: 0;
    padding: 0;
}

#canvas {
    width: 100vw;
    height: 100vh;
}

#overlay {
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: orange;
    font-family: arial, sans;
    background: rgb(10, 10, 50, 0.2);
    min-width: 200px;
    min-height: 200px;
}
