canvas {
    border: 1px solid black;
}

#css-sized {
    width: 400px;
    height: 400px;
}

#css-and-attr-sized {
    width: 400px;
    height: 400px;
}

#missmatched {
    width: 400px;
    height: 400px;
/*    max-width: 200px;
    max-height: 200px;
    */
}