@font-face {
    font-family: 'Glass_TTY_VT220';
    src: url('fonts/Glass_TTY_VT220.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/Glass_TTY_VT220.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
    font-family: 'var(--font)';
    src: url('fonts/var(--font).woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/var(--font).ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: large;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --background: rgb(255, 255, 255);
    --colour: rgb(0, 0, 24);
    --dim: rgb(136, 136, 150);
    --very-dim: rgb(200, 200, 230);
    --dark: rgb(0, 0, 34);
    --font: monospace;
}

[data-theme="workbench-1.3"] {
    --background: rgb(0, 85, 170);
    --colour: rgb(255, 255, 255);
    --dim: rgb(255, 136, 0);
    --very-dim: rgb(128, 68, 0);
    --dark: rgb(0, 0, 34);
    --font: topaznew;
}

body {
    margin: 0;
    padding: 0.5rem;
    width: 100dvw;
    height: 100dvh;
    background: var(--background);
    color: var(--colour);
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
    overflow: hidden;
}

::selection {
    color: var(--background);
    background-color: var(--colour);
}

textarea {
    border-color: var(--very-dim);
}

textarea:focus {
    outline: none !important;
    border: 1px solid var(--colour);
}

pre {
    font-family: var(--font);
    font-size: large;
}

#results {
    overflow: auto;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: min-content;
    scrollbar-color: var(--dim) var(--background);
}

#widgets {
    overflow: auto;
}

#clock {
    aspect-ratio: 1;
}

.index { 
    grid-column: 1;
    text-align: end;
    padding-right: 0.5em;
}

.result-box {
    grid-column: 2;
    margin-bottom: 0.5em;
}

#input-area {
    grid-column: 1 / -1;
    grid-row: 2;
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    align-items: center;
}

#command-entry {
    border: none;
    background: none;
    outline: none;
    color: var(--colour);
    font-family: var(--font);
    font-size: large;
}

#status {
    width: fit-content;
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--colour);
    padding: 0.5em;
    border-radius: 0.5em;
    z-index: 15;
    transition: opacity 1s;
}

.fade {
    opacity: 0;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 2em);
    grid-template-rows: repeat(7, 2em);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.calendar-month-name {
    grid-column: 2 / -2;
    text-align: center;
}

.calendar-day-fade {
    color: var(--dim);
}

.calendar-day {
    text-align: center;
}

.calendar-day-today {
    background-color: var(--colour);
    color: var(--background);
}

.code-area {
    resize: vertical;
    width: 100%;
    background-color: var(--background);
    color: var(--colour);
    font-family: var(--font);
    font-size: large;
}

.notes {
    padding: 0.3em;
}

.mermaid {
    background-color: aliceblue;
    width: fit-content;
}

.sticky {
    position: sticky;
    background-color: var(--background);
    z-index: 10;
    border-radius: 0.5em;
    border: 2px solid var(--colour);
    padding: 0.5em;
    bottom: 0;
    width: fit-content;
}

.focused {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 11;
}

.dim {
    color: var(--dim) !important;
}

.hidden {
    display: none !important;
}
