@font-face {
    font-family: 'Glass_TTY_VT220';
    src: url('fonts/Glass_TTY_VT220.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/Glass_TTY_VT220.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
    font-family: 'topaznew';
    src: url('fonts/topaznew.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/topaznew.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: large;
    margin: 0;
    background: var(--background);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --background: rgb(255, 255, 255);
    --colour: rgb(0, 0, 24);
    --dim: rgb(136, 136, 150);
    --very-dim: rgb(200, 200, 230);
    --dark: rgb(0, 0, 34);
    --shadow: rgb(0, 0, 34, 0.3);
    --font: monospace;
    --index-width: 2em;
}

[data-theme="vt-220"] {
    --background: rgb(0, 0, 34);
    --colour: lightgreen;
    --dim: green;
    --very-dim: darkgreen;
    --dark: rgb(0, 0, 34);
    --font: Glass_TTY_VT220;
}

[data-theme="workbench-1.3"] {
    --background: rgb(0, 85, 170);
    --colour: rgb(255, 255, 255);
    --dim: rgb(255, 136, 0);
    --very-dim: rgb(128, 68, 0);
    --dark: rgb(0, 0, 34);
    --font: topaznew;
}

[data-theme="workbench-4.1"] {
    --background: rgb(207, 207, 207);
    --colour: rgb(0, 0, 0);
    --dim: rgb(110, 111, 111);
    --very-dim: rgb(160, 160, 160);
    --dark: rgb(0, 0, 34);
    --font: verdana;
}

[data-theme="fancy"] {
    --background: rgb(207, 207, 207);
    --colour: rgb(0, 0, 0);
    --dim: rgb(110, 111, 111);
    --very-dim: rgb(160, 160, 160);
    --dark: rgb(0, 0, 34);
    --font: Lucida Calligraphy;
}

body {
    margin: 0;
    padding: 0.5rem;
    width: 100dvw;
    height: 100dvh;
    background: var(--background);
    background-size: cover;
    color: var(--colour);
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
    overflow: hidden;
}

::selection {
    color: var(--background);
    background-color: var(--colour);
}

textarea {
    border-color: var(--very-dim);
}

textarea:focus {
    outline: none !important;
    border: 1px solid var(--colour);
}

pre {
    font-family: var(--font);
    font-size: large;
}

#results {
    overflow: auto;
    scrollbar-color: var(--dim) var(--background);
}

#widgets {
    overflow: auto;
}

#clock {
    aspect-ratio: 1;
}

.cell {
    position: relative;
    margin-bottom: 0.5em;
    padding-right: var(--index-width);
}

.floating {
    padding-right: 0 !important;
}

.table {
    display: grid;
    grid-gap: 1px;
}

.grid {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: var(--dim);
}

.table-cell {
    padding: 0.3em;
}

.table-header {
    background-color: var(--colour);
    color: var(--background);
    font-weight: bold;
}

.col-name {
    text-align: center;
}

.row-name {
    text-align: right;
}

.table-data {
    background-color: var(--background);
}

.index { 
    grid-column: 1;
    text-align: end;
    padding-right: 0.5em;
    width: var(--index-width);
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.cells-list {
    padding: 0.1em 0.25em;
}

.cells-list-index {
    text-align: end;
    padding-right: 0.5em;
    width: var(--index-width);
}

.result-box {
    transform: translateX(var(--index-width));
}

#input-area {
    grid-column: 1 / -1;
    grid-row: 2;
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    align-items: center;
}

#command-entry {
    border: none;
    background: none;
    outline: none;
    color: var(--colour);
    font-family: var(--font);
    font-size: large;
}

#status {
    width: fit-content;
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--colour);
    padding: 0.5em;
    border-radius: 0.5em;
    z-index: 15;
    transition: opacity 1s;
    background: var(--background);
    color: var(--colour);
    box-shadow: 10px 5px 5px var(--shadow);
}

.fade {
    opacity: 0;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 2em);
    grid-template-rows: repeat(7, 2em);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.calendar-month-name {
    grid-column: 2 / -2;
    text-align: center;
}

.calendar-day-fade {
    color: var(--dim);
}

.calendar-day {
    text-align: center;
}

.calendar-day-today {
    background-color: var(--colour);
    color: var(--background);
}

.code-area {
    resize: vertical;
    height: calc(100% - 0.3em);
    width: 100%;
    background-color: var(--background);
    color: var(--colour);
    font-family: var(--font);
    font-size: large;
}

.notes {
    padding: 0.3em;
}

.mermaid {
    background-color: var(--background);
    width: fit-content;
}

.sticky {
    position: sticky;
    z-index: 1;
    bottom: 0;
    width: fit-content;
}

.sticky .result-box {
    background-color: var(--background);
    border-radius: 0.5em;
    border: 1px solid var(--colour);
    padding: 0.5em;
 /*   width: fit-content;*/
}

.floating .result-box {
    position: relative;
    transform: translateX(0);
}

.floating .input {
    position: absolute;
}

.floating .raw {
    position: relative;
    display: inline-block;
    background-color: var(--background);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 0.4em;
    border: 2px solid var(--colour);
    box-shadow: 5px 2px 5px var(--shadow);
    transform: translateY(0%);
    transition: transform 0.3s ease-in-out;
}

.floating:hover .raw, .raw:hover {
    /*z-index: 5;*/
    transform: translateY(calc(-100% + 0.4em));
}

.floating .result {
    position: relative;
    background-color: var(--background);
    border-radius: 0.5em;
    border: 2px solid var(--colour);
    box-shadow: 10px 5px 5px var(--shadow);
    resize: both;
    /*z-index: 1;*/
    padding: 0.4em;
    overflow: auto;
}

.floating:hover .result {
    /*z-index: 10 !important;*/
}

.floating .index {
    background-color: var(--background);
    border-radius: 0.5em;
    border: 2px solid var(--colour);
    padding: 0.4em;
    width: fit-content;
    transform: translateX(100%);
    box-shadow: 5px 6px 5px var(--shadow);
}

.floating:hover .index {
    transform: translateX(0);
   /* z-index: 2;*/
}

.floating {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: fit-content;
    height: fit-content;
}

.dragging {
    opacity: 0.7;
    backdrop-filter: blur(4px);
}

.focused {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    /*z-index: 11;*/
}

.dim {
    color: var(--dim) !important;
}

.hidden {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }