@font-face {
    font-family: 'Glass_TTY_VT220';
    src: url('fonts/Glass_TTY_VT220.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/Glass_TTY_VT220.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html {
    box-sizing: border-box;
    font-family: Glass_TTY_VT220;
    font-size: large;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0.5rem;
    width: 100dvw;
    height: 100dvh;
    background: black;
    color: lightgreen;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
    overflow: hidden;
}

#results {
    overflow: auto;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: min-content;
}

#widgets {
    overflow: auto;
}

#clock {
    aspect-ratio: 1;
}

.index { 
    grid-column: 1;
}

.result-box {
    grid-column: 2;
}

#input-area {
    grid-column: 1 / -1;
    grid-row: 2;
    display: grid;
    grid-template-columns: min-content min-content 1fr;
}

#command-entry {
    border: none;
    background: none;
    outline: none;
    color: lightgreen;
    font-family: Glass_TTY_VT220;
    font-size: large;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 2em);
    grid-template-rows: repeat(6, 2em);
}

.calendar-month-name {
    grid-column: 2 / -2;
    text-align: center;
}

.calendar-day-fade {
    color: green;
}

.calendar-day {
    text-align: center;
}